h1 {
    text-align: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
th {
  background-color: darkorange;
  font-style: italic;
}
td {
    background-color: orange;
}
table {
    border: 2px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 750px;
    margin: 0 auto;
}
